*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.big-img{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(images/donation7.jpg);
    background-size: cover;
}
.overlay{
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.link-button{
    background-color: rgb(111, 49, 111);
    border-radius: 5px;
    text-decoration: none;
    padding: 10px  20px;
    color: white;
    font-weight: 700;
    justify-content: center;
}
.container{
    text-align: center;
    margin-top: 50px;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 20px 20px;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


  
  }  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    border-radius: 20px;
    
  }
  .selected-amount{
    color:  rgb(111, 49, 111);;
    border: 3px solid  rgb(111, 49, 111);
    border-radius: 10px;
}
.donate-now{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.input-amount{
    width: 40%;
    padding: 20px;
    margin-left: 30%;
    outline: none;
    margin-bottom: 20px;
    background-color: transparent;
    border: 0 solid;
    border-bottom: 1px solid  rgb(111, 49, 111);;
    text-align: center;
    font-size: 25px;
}

    .donate-now a{
        width: 15%;
        padding: 10px;
        font-size: 20px;
        color: white;
        border-radius: 10px;
        text-decoration: none;
        background-color:  rgb(111, 49, 111) ;
        margin-left: 42.5%;
        text-align: center;
    }
    .donate-plan{
        text-align: center;
        margin-top: 50px;
    }
    .half-width{
        width: 100%;
        display: flex;
        margin-bottom: 200px;
        
    }
    
    .food-family{
     margin: 15px 20px;
     border: 2px solid rgba(190, 222, 249, 1)  ;
     background-color:rgba(190, 222, 249, 1) ;
     padding: 40px 30px;
     border-radius: 10PX;
 }  
 .food-family img{
    margin-top: 10px;
    margin-bottom:10px ;
 }
 .shelter-family{
    margin: 15px 20px;
    border: 2px solid rgba(249, 190, 216, 1) ;
    background-color:rgba(249, 190, 216, 1) ;
    padding:   40px 30px;
    border-radius: 10PX;
}  
.shelter-family img{
   margin-top: 10px;
   margin-bottom:10px ;
}
.education-child{
    margin: 15px 20px;
    border: 2px solid rgba(249, 216, 190, 1) ;
    background-color: rgba(249, 216, 190, 1) ;
    padding:  40px 30px;
    border-radius: 10PX;
}  
.education-child img{
   margin-top: 10px;
   margin-bottom:10px ;
}
  
    

